<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div id="container">
    <div class="leftSide">
      <h2 class="titleContainer"><strong>Find</strong> all your favorite <strong>Pokemon</strong></h2>
      <p class="textContainer">You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
      <ion-button size="large" color="success" class="buttonViewPokemons">See pokemons</ion-button>
    </div>
    <div class="rightSide">
      <img class="pikachuMobile" src="../../assets/PikachuMobile.svg" alt="Imagem do Pikachu" />
      <img class="pikachuDesktop" src="../../assets/pikachuImage.svg" alt="Imagem do Pikachu" />
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
