ion-content {
  --background: linear-gradient(#f5db13, #f2b807);
}
#container {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .pikachuMobile {
    @media only screen and (min-width: 1025px) {
      display: none;
    }
  }
  .pikachuDesktop {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
  .rightSide {
    @media only screen and (max-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1024px) {
      width: 730px;
    }
  }
  .titleContainer {
    color: #000000;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
    letter-spacing: 4px;
  }
  .textContainer {
    color: #000000;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 4px;
  }
  .buttonViewPokemons {
    @media only screen and (max-width: 1024px) {
      height: 66px;
      width: 40%;
      font-size: 23px;
      font-weight: 700;
      line-height: 27px;
      --box-shadow: 0px 10px 10px;
    }
  }
}
